<p>Add Reactive to your <code>lakefile.lean</code>:</p>
<pre><code class="language-lean">require reactive from git "https://github.com/nathanial/reactive" @ "v0.0.1"</code></pre>

<p>Then import in your Lean files:</p>
<pre><code class="language-lean">import Reactive

open Reactive
open Reactive.Host</code></pre>
